@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}
.header-search-field{
	margin-right: 16px;
		margin-left: auto;
		position:absolute;
		right:0;
		flex: 1;
	/* float:right; */
}
.tagline{
	font-size: 24px;
	color: red;
	display: inline-block;
	margin: 0 auto;
	/* flex:1; */
	/* display: flex; */
	/* justify-content: center; */

}
.tagline-search-wrapper{
	display:flex;
	position: relative;
	justify-content: center;
	/* justify-content: center; */
	/* flex-wrap: wrap; */
	/* display: flex;
	position: relative; */
	/* overflow: hidden; */
}
.container {
	margin: 0 auto;
}
.visit-london{
	font-size: 48px;
	color: red;
	font-family: sans-serif;
}
header {
	text-align: center;
	z-index:1000;
}

header::after {
  content: '';
  display: table;
  clear: both;
}
/*
#menu{
	position:sticky;
	top:0;

} */
nav {
	  background: white;
		border: solid;
		border-radius: 4px;
		border-color: red;

}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation-links>li {
  display: inline-block;
  padding-top: 24px;
	padding-bottom: 24px;
	margin-left: 12px;
	margin-right: 12px;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}
nav a:hover{
	text-decoration: underline;
}
.dropdown-menu {

	z-index:1000;
  display: none;
	background: white;

	     position: absolute;
			  width: 100%;
				text-align: center;
				left:0;
				right:0;

			  box-sizing: border-box;
				border: 4px solid red;

				margin-top: 8px;
}


.dropdown:hover .dropdown-menu {
  display:flex;
	/* margin: 8px; */

}
.column{
	float:left;
	display:inline;
}
.snippet{
	float:left;
	border: 2px;
	background: white;
	border-style: solid;
	margin: 8px;
	border-radius: 5px;
	border-color: lightgrey;
	text-align: center;
	display:inline;

}
.vertical-list >li{
	display: flex;
	align-items:center;
	padding: 12px;

}

.dropdown-menu>div {
    /* display: table-cell; */
}

.main-content{
	background: lightgrey;
	padding-bottom: 16px;
}
.image-banner-div{
	position:relative;
}
.banner-image{
	max-width: 100%;
	height: auto;
}

.banner-image-text{
  position: absolute;
  top: 50%;
	color: white;
  left: 50%;
  transform: translate(-50%, -50%);
	font-family: 'Work Sans',sans-serif;
}

.content{
	max-width: 1100px;
	padding: 20px;
	margin: 0 auto;
	background: white;
	overflow: hidden;

}
.clear-text{
	clear:both;
}
h2{
	clear:both;

		padding-left: 20px;
	padding-top: 16px;
}

hr{
	clear:both;
  padding-top: 20px;
  margin-bottom: 20px;
  border: none;
	margin-left: 20px;
	margin-right: 20px;
  border-bottom: 5px solid black;
}
.welcome-text{
	padding:28px;
	font-size: 22px;
	margin:0 auto;
	max-width: 700px;
	font-family: 'Work Sans',sans-serif;
	text-align: center;
}

.mosaic{
	padding-left: 20px;
}
.para{

		padding:28px;
		font-size: 16px;
		margin:0 auto;
		font-family: 'Work Sans',sans-serif;
}
 a:link{
	color: red;
	text-decoration: none;
}
a:hover{
	text-decoration:underline;
}

label {
  color: red;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}
label:hover{
	text-decoration: underline;
}
a:visited{
	color:red;
	text-decoration:none;
}

.hidden-checkbox{

    position: absolute;
    left: -100vw;
}
.footer-list{
	text-align: center;
}
.footer-list li{
	list-style: none;
	display: inline-block;
	margin-bottom: 24px;
	margin-right: 24px;
}
.footer-list li a{

	color: black;
}
.footer-list ul{
	justify-content: center;
	align-items: center;
}
.footer-text{
	margin: 16px;
	font-size: 10px;
}
.grey-bg{
	background: lightgrey;
	padding-top: 24px;
	margin-left: -24px;
	margin-right: -24px;
	margin-bottom: 0px;
}

.footer-list.dividers li:not(:first-child):before {
    content: " | ";
		color: grey;
		padding-right: 24px;
}

.footer{
	padding-top: 24px;
	padding-left: 24px;
	padding-right: 24px;
}
@media only screen and (max-width: 600px) {
/*
	.snippet{
		float:left;
		border: 2px;
		background: white;
		border-style: solid;
		margin: 4px;
		border-radius: 5px;
		border-color: lightgrey;
		text-align: center;
		display:inline;


	} */
	.column{
		display:block;
	}
/* .vertical-list > li{
	/* display: inline; */

	/* align-items:center; */
	/* padding: 12px; */
/* }  */
	.snippet img{
		hidden:true;
	}

.tagline-search-wrapper{
		display:block;
	}
	.header-search-field{
		margin:0 auto;
		position:relative;
		padding-top: 8px;
		padding-bottom: 8px;
	}

	.dropdown:hover .dropdown-menu{
		display:none;
		/* padding: 16px; */
	}
	.dropdown-menu img{
		display:none;
		/* margin: 8px; */
	}
	.dropdown-menu .snippet{
		border:none;
		display:block;
		/* float:none; */
		clear:both;
		margin-top: 0px;
		margin-bottom: 0px;
		margin-left: 12px;
	}
	.dropdown-menu h3{
		font-size:14px;
	}
	.dropdown .hidden-checkbox:checked ~ .dropdown-menu{
			display:flex;
	}
	.dropdown-menu{
		display:none;
	}
	label::after{
		content:" ▼"
	}

	.footer-list.dividers li:not(:first-child):before {
	    content: "";
			padding-right: 0px;
	}

}
